.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 275px;
}
  
.divText {
    flex: 1;
    text-align: center;
    padding: 30px;
    background-color: lightblue;
    border: 10px outset green;
    transition: transform 1s ease;
    max-width: 50%;
}
  
.divImg {
    flex: 1;
    text-align: center;
    transition: transform 1s ease;
}
  
.divText:hover,
.divImg:hover {
    transform: scale(1.05);
}
  
.imgDetail {
    max-width: 100%;
    border-radius: 10px;
    border: 10px outset red;
}
  
.container > div {
    margin: auto;
}