.cardContainer {
  position: relative;
  width: 300px;
  margin: 3px;
  padding: 5px;
  transform: scale(0.95);
  border: 10px ridge #5bc04e;
  background-color: #61ce53;
  transition: background-color 0.25s;
}
.cardContainer:hover {
  background-color: #94f387;
}

.btnErase {
    border-radius: 10px;
    border: 2px solid black;
    height: 28px;
    width: 28px;
    font-size: 15px;
    font-weight: 1000;
    position: absolute;
    top: 0; right: 0;
    background-color: #8bcf21;
    cursor: pointer;
    transition: border-color 0.25s;
  }
.btnErase:hover {
    border-color: #ff0800;
}

.cardH3 {
  text-align: center;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px ridge #316759;
}

.cardH4 {
  text-align: center;
  font-weight: bold;
}

.imgCard {
  border-radius: 20px;
}
